@charset "utf-8";

/* Page Body Styles */
body {
   max-width: 960px;
   min-width: 640px;
   width: 95%;
   margin-right: auto;
   margin-left: auto;
}

/* Image Styles */
img { 
   display: block;
   width: 100%;
}

/* Horizontal Navigation Styles */
nav.horizontal li {
   display: block;
   float: left;
   width: 16.66%;
}

nav a {
   display: block;
}

/* Row Styles */
div.newRow {
   clear: both;
   width: 100%;
}

/* Column Styles */


/* Specials Styles */


/* Award Styles */


/* Footer Styles */
