@charset "utf-8";

/* Body Styles */
html {
    background-color:darkcyan;
}

body {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Heading Styles */
h1 {
    font-size: 2.2em;
    font-family: cursive;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: darkviolet;
}

/* Navigation Styles */
nav {
    font-size: 0.8em;
}

nav > ul {
    line-height: 1.8em;
    list-style-type: none;
    padding-left: 10px;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
    color: darkmagenta;
    text-decoration: underline;
}

/* Blockquote Styles */
blockquote {
    background-color: lightskyblue;
    margin: 20px;
    text-align: center;
}

blockquote > img {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

blockquote > a {
    text-decoration: none;
    color: pink;
}

/* Footer Styles */
footer {
    background-color: darkorchid;
    color: white;
    color: rgba(255, 255, 255, 0.6);
    font-variant-caps: small-caps;
    text-align: center;
    font-size: 0.8em;
    line-height: 2em;
}
